@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.drawer {
  position: fixed;
  z-index: 40;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  width: 20vw;
  transition: transform .2s ease-in-out;
  background: #FFF;
}