@tailwind base;
@tailwind components;
@tailwind utilities;

/* Deze styling is noodzakelijk! (als je weet wat je doet, mag je die overschrijven) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  /* Font-family mag aangepast worden, niet vergeten juiste fonts te importeren in index.html */
  font-family: 'IBM Plex Sans', sans-serif;
}

.drawer {
  position: fixed;
  z-index: 40;
  top: 0;
  overflow-y: auto;
  transition: transform .2s ease-in-out;
  background: #FFF;
}

.drawer--left {
  left: 0;
  bottom: 0;
  width: 20vw;

}

.drawer--right {
  right: 0;
  bottom: 0;
  width: 20vw;

}

.drawer--top {
  left: 0;
  right: 0;
  height: 20vh;
}
/* Einde noodzakelijke styling */

.button {
  background-color: #1c64f2;
  color: #FFF;
  padding: 0.5rem 1rem;
  margin: 1rem;
}